.toolbar li span
{
	margin-right: 10px;
}
.toolbar li 
{
	margin-right: 10px;
}
.dropdown
{
	margin-right: 30px;margin-bottom: 20px;
}
.file-box{ position:relative;width:340px} 
.txt{ height:27px; border:1px solid #cdcdcd; width:150px;} 
.bt123{ background-color:#FFF; border:1px solid #CDCDCD;height:30px; width:70px;color:#000000;} 
.file{ position:absolute; top:0; right:117px; height:30px; filter:alpha(opacity:0);opacity: 0;width:223px } 

select.col-md-7{
	height:23px;
} 
select option{
	font-size: 15px;
}

.click{
	pointer-events:none; 
    opacity:0.4; 
    filter: alpha(opacity=40);        
}
/*背景层*/
#popLayer {
    display: none;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}

/*弹出层*/
#popBox {
    display: none;
    background-color: #FFFFFF;
    z-index: 11;
    width: 600px;
    height: 600px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBox .close{
    text-align: right;
    margin-right: 5px;
    background-color: #F8F8F8;
}

/*关闭按钮*/
#popBox .close a {
    text-decoration: none;
    color: #2D2C3B;
}

