.toolbar li span
{
	margin-right: 10px;
}
.toolbar li 
{
	margin-right: 10px;
}
.dropdown
{
	margin-right: 30px;margin-bottom: 20px;
}
.file-box{ position:relative;width:340px} 
.txt{ height:27px; border:1px solid #cdcdcd; width:150px;} 
.bt123{ background-color:#FFF; border:1px solid #CDCDCD;height:30px; width:70px;color:#000000;} 
.file{ position:absolute; top:0; right:117px; height:30px; filter:alpha(opacity:0);opacity: 0;width:223px } 

select.col-md-7{
	height:23px;
} 
select option{
	font-size: 15px;
}

.click{
	pointer-events:none; 
    opacity:0.4; 
    filter: alpha(opacity=40);        
}

